<mat-toolbar color="primary">

    <button mat-button routerLink="/admin/dashboard">Dashboard</button>
    <button mat-button routerLink="/admin/connect">Connect</button>
    <button mat-button routerLink="/admin/disconnect">Disconnect</button>
    <span class="example-spacer"></span>
    <button routerLink="/user/home" mat-icon-button class="example-icon exit_to_app" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

<router-outlet></router-outlet>